@model P5_ExpressVoiture.Models.ViewModels.FinanceViewModel

<h2>Gestion des Finances pour @ViewBag.VoitureNom</h2>

<p>Le prix de vente est automatiquement calculé (Prix d'achat + Coût des réparations + Marge de 500€).</p>
<p>Sont à ajouter le prix d'achat ainsi que les différents coûts de réparation.</p>

<table class="table">
    <tr>
        <th>Prix d'Achat</th>
        <td>@Model.PrixAchat</td>
    </tr>
    <tr>
        <th>Prix de Vente</th>
        <td>@Model.PrixVente</td>
    </tr>
</table>

<a asp-controller="Finance" asp-action="Edit" asp-route-voitureId="@Model.VoitureID" class="btn btn-warning">Modifier Prix d'achat</a>
<a asp-controller="Finance" asp-action="EditPrixVente" asp-route-voitureId="@Model.VoitureID" class="btn btn-warning">Modifier Prix de vente</a>
<a asp-controller="Voiture" asp-action="Index" class="btn btn-secondary">Retour à la liste des voitures</a>
<a asp-controller="Voiture" asp-action="Details" asp-route-id="@Model.VoitureID" class="btn btn-secondary">Retour aux détails de la voiture</a>