@model IEnumerable<P5_ExpressVoiture.Models.ViewModels.VoitureIndexViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<P5_ExpressVoiture.Models.Entities.Utilisateur> SignInManager
@inject UserManager<P5_ExpressVoiture.Models.Entities.Utilisateur> UserManager

@{
    ViewData["Title"] = "Nos voitures";
}

<h1>Nos voitures</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Ajouter une voiture</a>
    </p>
}

<div class="row">
    @foreach (var voiture in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="~/@voiture.Image" alt="Image de @voiture.Marque @voiture.Modele">
                <div class="card-body">
                    <h5 class="card-title">@voiture.Marque @voiture.Modele</h5>
                    <p class="card-text">
                        Année : @voiture.Année.Year<br />
                        Finition : @voiture.Finition<br />
                        Disponibilité : @(voiture.EstDisponible ? "Disponible" : "Non disponible")<br />
                        Prix : @voiture.PrixVente?.ToString("C") ?? "Prix non disponible"
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-action="Details" asp-route-id="@voiture.Id" class="btn btn-sm btn-outline-secondary">Voir les détails</a>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@voiture.Id" class="btn btn-sm btn-warning">Modifier</a>
                            <a asp-action="Delete" asp-route-id="@voiture.Id" class="btn btn-sm btn-danger">Supprimer</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }